/*
!.gitignore
!plugins/
!themes/
!uploads/
!README.md

plugins/*



themes/*
!themes/quotesondev-starter-theme/


.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes

*.log
*.sql
*.sqlite
error_log
access_log
