/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* All Archives Page */

/* Submit a Quote Page */

.hfeed.site {
 
    margin: 0 auto;
    max-width: 1080px;
    padding: 2.5%;
    width: 100%;
    position: relative;

    .fa-quote-left, .fa-quote-right{
      display: none;
      }
    
      @include for-tablet {
        .fa-quote-left, .fa-quote-right{
        display: none;
        }
      }

      @include for-desktop {
        .fa-quote-left, .fa-quote-right{
          color: #0c0;
          font-family: FontAwesome;
          font-size: 125px;
          line-height: 125px;
          position: absolute;
          display: inline;
        }

        .fa-quote-right{
            right: 0;
        }
      }
    
      

      .entry-content{
        padding-top: 12px;
        text-align: center;  
        font-size: 1.3rem;
        margin-bottom: $base__space-unit*2;
        width: 100%;
      
              @include for-tablet {
                  font-size: 1.7rem;
              }
      
              @include for-desktop {
                  font-size: 2.5rem;
              }
          
      }
    
    .button-wrapper{
      text-align: center;
    }

    .show-me{
      background-color: #222;
      border: 2px solid #0c0;
      border-radius: 3px;
      box-shadow: none;
      text-shadow: none;
      color: #0c0;
      font-size: 1rem;
      font-weight: 700;
      line-height: 1;
      padding: .75rem 2.25rem

  }
      @include for-desktop {
      .content-wrapper{
        width: 700px;
        margin: 0 auto;
      }
      }  
}




.site-branding{
    text-align: center;
    padding-top: 60px;
}


.logo {
    width: 300px;
    height: auto;
    
 
    @include for-tablet {
       width: 500px;
    }
 
    @include for-desktop {
       width: 700px;
    }
 }


 /* ARCHIVES */
 
 .archives-container {
    text-align: left;
 
    & .entry-header {
       text-align: left;
    }
 
}

 .post-author, .category, .tags {
    & ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        
       
    }
 
    & li {
        font-size: 1.25rem;
        font-weight: 300;
        margin-bottom: .5rem;
        margin-right: 1.125rem;
        
       
    }
 }

 
 









 /* FOOTER */

 footer{

    .site-info{
      padding: 2.5%;
        
      .page-item-206{
          display: none;
      }
      @include for-tablet {
        display: flex;
        p{
        margin-top: 0;
        }
     }

    @include for-desktop {
       display: flex;
       justify-content: flex-end;
       p{
       margin-top: 0;
       }
    }

    }

    .menu ul{
      margin: 0;
      padding: 0;
      font-size: 1rem;
      list-style: none;
      display: flex;
      justify-content: flex-start;
      
      li:first-child{
        margin: 0;
        padding-left: 0;
        
      }
      li:last-child{
        margin: 0;
        border-right: none;
        
      }
      li{
        margin: 0;
        border-right: 1px solid #fff;
        padding: 0 1rem;
        
      }
      a{
        font-weight: 300;
        text-decoration: none;
        
      }
    }
    p {
      margin-bottom: 0;
      font-size: 1rem;
      color: #fff;
    }

  } 
  
